<div [@routerTransition]>
    <app-page-header [heading]="'Dashboard'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col-2 form-group"><select class="form-control" id="assembly">
            <option>Assembly</option>
            <option>ASL-1</option>
            <option>ASL-2</option>
            <option>ASL-3</option>

        </select></div>
        <div class="col-2">
            <input type="text" name="search" placeholder="Search anything" class="form-control">
        </div>
        <div class="col-2">
            <button id="search" name="search" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="'success'" [icon]="'fa fa-check'" [count]="124" [data] = "'A'"
                      [label]="'Returned'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-3">
                  <app-stat [bgClass]="'success'" [icon]="'fa fa-check'" [count]="14" [data] = "'B'"
                            [label]="'Returned'"></app-stat>
              </div>
        <div class="col-xl-3 col-lg-3">
                  <app-stat [bgClass]="'success'" [icon]="'fa fa-check'" [count]="42" [data] = "'C'"
                            [label]="'Returned'"></app-stat>
              </div>
        <div class="col-xl-3 col-lg-3">
            <app-stat [bgClass]="'danger'" [icon]="'fa-exclamation-circle'" [count]="13" [label]="'Not Returned!'" [data] = "'D'"></app-stat>
        </div>
    </div>
</div>
